<div class="container">
    <form>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Imię</mat-label>
                <input 
                type="text" 
                matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Dostęność</mat-label>
                <mat-date-range-input>
                    <input matStartDate matInput placeholder="Start">
                    <input matEndtDate matInput placeholder="Koniec">
                </mat-date-range-input>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Chrakterystyka</mat-label>
                <textarea 
                type="text" 
                matInput></textarea>
            </mat-form-field>
          <button 
          type="submit"
          color="primary"
          mat-stroked-button>        
        Wyślij</button>
        </div>
    </form>
  </div>
