<div class="container">
    <form [formGroup] = "myFormModel" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field class="full-width">
                <mat-label>Imię</mat-label>
                <input 
                type="text" 
                matInput
                formControlName = "yourName"
                >
            </mat-form-field>
            <!-- Material Range wprowadzony w Angular 10 -->
            <mat-form-field class="full-width">
                <mat-label>Dostęność</mat-label>
                <mat-date-range-input formGroupName = "availability" [rangePicker]="picker" >
                    <input formControlName = "start" matStartDate matInput placeholder="Start">
                    <input formControlName = "end" matEndDate matInput  placeholder="Koniec">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- koniec date range pickera -->
            <mat-form-field class="full-width">
                <mat-label>Chrakterystyka</mat-label>
                <textarea 
                type="text" 
                matInput
                formControlName = "description"
                ></textarea>
                <mat-error *ngIf="myFormModel.get('description').hasError('minlength')">Zbyt krótka chrakterystyka</mat-error>
            </mat-form-field>
            <div formArrayName = "emails">
                <span *ngFor = "let email of myFormModel.get('emails')['controls']; let i = index">
                    <mat-form-field class="full-width">
                        <mat-label>Email {{i +1}}</mat-label>
                        <input [formControlName] = "i" matInput>
                    </mat-form-field> 
                </span>
            </div>
            <button type="button" (click) = "addEmail()" mat-stroked-button>Dodaj maila</button>
            <button type="button" (click) = "myFormModel.reset()" mat-stroked-button>Kasowanie</button>
            <button type="button" (click) = "reload()" mat-stroked-button>Zasilenie</button>
          <button 
          type="submit"
          color="primary"
          mat-stroked-button>        
        Wyślij</button>
        </div>
    </form>
  </div>
