<div class="container">
    <form>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Imię</mat-label>
                <input 
                type="text" 
                matInput
                >
            </mat-form-field>
            <!-- Material Range wprowadzony w Angular 10 -->
            <mat-form-field class="full-width">
                <mat-label>Dostęność</mat-label>
                <mat-date-range-input [rangePicker]="picker" >
                    <input matStartDate matInput placeholder="Start">
                    <input matEndDate matInput  placeholder="Koniec">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- koniec date range pickera -->
            <mat-form-field class="full-width">
                <mat-label>Chrakterystyka</mat-label>
                <textarea 
                type="text" 
                matInput
                ></textarea>
            </mat-form-field>
          <button 
          type="submit"
          color="primary"
          mat-stroked-button>        
        Wyślij</button>
        </div>
    </form>
  </div>
